.wdt-btn {
  width: 100px;
}

.filter-margin {
  margin-top: 15px;
}
.img-hgt {
  height: 250px;
}
.slider .indicators .indicator-item.active {
  background-color: #827717;
}

.input-field .prefix.active {
  color: #827717;
}

.ilike-lime-container {
  @extend .lime, .lighten-4;
}

.ilike-lime-container {
  @extend .lime-text, .text-lighten-4;
}

.active {
  color: #827717;
}

label.active {
  color: #827717 !important;
}

input:focus {
  border-bottom: 1px solid #827717 !important;
  box-shadow: 0 1px 0 0 #827717 !important;
}

ul.dropdown-content.select-dropdown li span {
  color: #827717 !important;
}

.card
  .card-action
  a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: #827717;
}

.borderdown {
  border-bottom: 1px solid lightgray;
}

.borderRecipe {
  border: 1px solid lightgray;
  margin-top: 20px;
  padding-top: 20px;
}

.pdnitem {
  padding-top: 10px;
  margin-top: 10px;
}

.drinkImg {
  width: 520px;
  text-align: right;
}

.nav-hgt {
  height: 130px;
}

.drinktxtcol {
  color: white;
  text-align: center;
  height: 100%;
}

#mainImage{
  padding-bottom: 30px;
}

.drinkFixedWidth {
  width: 200px;
  text-align: center;
}

.centerImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.ingredSpan {
  text-align: center;
}

.cardhgt{
  height: 400px;
}
.pmar{
  padding-left: 5px;
  padding-right: 5px;
}

/*carousel css*/
#carouselBody {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#wrapper {
  width: 100%;
  max-width: 964px;
  position: relative;
}

#drinksCar {
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

#drinksCar::-webkit-scrollbar {
  height: 0;
}

#prev,
#next {
  display: flex;
  justify-content: center;
  align-content: center;
  background: #827717;
  border: none;
  padding: 8px;
  border-radius: 50%;
  outline: 0;
  cursor: pointer;
  position: absolute;
  color: white;
}

#prev {
  top: 50%;
  left: 0;
  transform: translate(50%, -50%);
  display: none;
  color: white;
}

#next {
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  color: white;
}

#ingredientsContent {
  display: grid;
  grid-gap: 16px;
  grid-auto-flow: column;
  margin: auto;
  box-sizing: border-box;
}
#preparationContent {
  display: grid;
  grid-gap: 16px;
  grid-auto-flow: column;
  margin: auto;
  box-sizing: border-box;
}
.item {
  width: 200px;
  height: 200px;
  background: transparent;
}

.ingredItemWrapDiv {
  text-align: center;
}

.prepStep{
  font-weight: bold;
}