/* ********************* Global ********************** */
header {
  text-align: center;
  height: 100px;
  padding-top: 25px;
}

/* ********************* Functions ******************** */
/* --------------- Search --------------- */
/* --------------- Filter --------------- */
/* --------------- Drink ---------------- */
/* --------------- Recipe --------------- */
/* -------------- Suggested ------------- */

/* ******************* Media Queries ****************** */
